*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
/* draw section line */
.section-line{
    background-color:rgba(128, 128, 128, 0.28);
    height: 7px;
    width: 100vw;
}
.hero-section{
    background-image: url("assets/images/bgImageSignUpPage.jpg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}
.box{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 80vh;
    z-index: 3;
    position: absolute;
}

.navbar{
    display: flex;
    max-width: 70vw;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.navbar img{
    width: 148px;
    position: relative;
    z-index: 3;
}
.btn{
    width: 122px;
    position: relative;
    z-index: 3;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 4px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.084);
}
.red-btn{
    background-color: red;
}
.red-btn:hover{
    background-color: rgb(188, 0, 0);
}

.newslestener{
    color: white;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(70vh - 123px);
    
    /* background-color: greenyellow; */
}
.hero-section-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
span:nth-child(1){
    font-size: 48px;
    font-weight: 900;
}
span:nth-child(2){
    font-size: 24px;
    font-weight: 400;
}
span:nth-child(3){
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.email-and-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
.email-and-btn input[type = "email"]{
    width: 60vh;
    position: relative;
    z-index: 3;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 7px 4px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.084);
    margin-right: 12px;
}
.email-and-btn button{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    width: auto;
    padding: 8px 16px;
}
