*{
    /* border: 1px solid red; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#main-header{
    height: 56px;
    padding: 0 16px;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#top-right-icons {
    font-size: 1em;
}

#top-right-icons i {
    padding: 8px;
    font-size: 2rem;
}

#top-right-icons p span{
    display: inline-block;
    font-weight: bolder;
    color: #000000;
}